<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h3 class="page-title">Leads</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="routes.adminDashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Leads</li>
        </ul>
      </div>
      <div class="col-md-8 float-end ms-auto">
        <div class="d-flex title-head">
          <div class="view-icons">
            <a href="javascript:void(0);" class="grid-view btn btn-link"><i class="las la-redo-alt"></i></a>
            <a href="javascript:void(0);" class="list-view btn btn-link" id="collapse-header" (click)="fullscreen()"><i
                class="las la-expand-arrows-alt"></i></a>
            <a href="javascript:void(0);" class="list-view btn btn-link" id="filter_search" (click)="openFilter()"><i
                class="las la-filter"></i></a>
          </div>
          <div class="form-sort">
            <a href="javascript:void(0);" class="list-view btn btn-link" data-bs-toggle="modal"
              data-bs-target="#export"><i class="las la-file-export"></i>Export</a>
          </div>
          <a href="javascript:void(0);" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_leads"><i
              class="la la-plus-circle"></i> Add Leads</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="filter-filelds" id="filter_inputs" [ngClass]="{ 'd-block': filter, 'd-none': !filter }">
    <div class="row filter-row">
      <div class="col-xl-2">
        <div class="input-block mb-3 form-focus">
          <mat-form-field class="example-full-width">
            <mat-label>Lead Name</mat-label>
            <input class="form-control floating datetimepicker" type="text" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="input-block mb-3 form-focus">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input class="form-control floating datetimepicker" type="text" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="col-xl-2">
        <div class="input-block mb-3 form-focus focused">
          <input type="text" class="form-control date-range bookingrange" #drp="bsDaterangepicker" bsDaterangepicker
            [(ngModel)]="bsRangeValue" />
          <label class="focus-label">From - To Date</label>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="input-block mb-3 form-focus select-focus">
          <mat-select class="select custom-mat-select floating-mat-select" placeholder="--Select--">
            <mat-option>--Select--</mat-option>
            <mat-option value="Germany">Closed</mat-option>
            <mat-option value="USA">Not Contacted</mat-option>
            <mat-option value="Canada">Contacted</mat-option>
            <mat-option value="India">Lost</mat-option>
          </mat-select>
          <label class="focus-label">Lead Status</label>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="input-block mb-3 form-focus select-focus">
          <mat-select class="select custom-mat-select floating-mat-select" placeholder="--Select--">
            <mat-option>--Select--</mat-option>
            <mat-option value="Germany">NovaWaveLLC</mat-option>
            <mat-option value="USA">SilverHawk</mat-option>
          </mat-select>
          <label class="focus-label">Company</label>
        </div>
      </div>
      <div class="col-xl-2">
        <a href="javascript:void(0);" class="btn btn-success w-100"> Search </a>
      </div>
    </div>
  </div>
  <hr />
  <!-- /Search Filter -->
  <div class="filter-section">
    <ul>
      <li>
        <div class="view-icons">
          <a href="javascript:void(0);" class="list-view btn btn-link active"><i class="las la-list"></i></a>
          <a [routerLink]="routes.leadsKanban" class="grid-view btn btn-link"><i class="las la-th"></i></a>
        </div>
      </li>
      <li>
        <div class="form-sort">
          <i class="las la-sort-alpha-up-alt"></i>
          <mat-select class="space-select select" placeholder="Sort By Alphabet">
            <mat-option value="all">Sort By Alphabet</mat-option>
            <mat-option value="web">Ascending</mat-option>
            <mat-option value="marketing">Descending</mat-option>
            <mat-option value="it">Recently Viewed</mat-option>
            <mat-option value="it">Recently Added</mat-option>
          </mat-select>
        </div>
      </li>
      <li>
        <div class="form-sorts dropdown" [ngClass]="{ 'table-filter-show': isFilterDropdownOpen }">
          <a href="javascript:void(0);" class="dropdown-toggle" id="table-filter" (click)="toggleFilterDropdown()"><i
              class="las la-filter me-2"></i>Filter</a>
          <div class="filter-dropdown-menu">
            <div class="filter-set-view">
              <div class="filter-set-head">
                <h4>Filter</h4>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="filter-set-content">
                  <div class="filter-set-content-head">
                    <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">Rating<i class="las la-angle-right"></i></a>
                  </div>
                  <div class="filter-set-contents accordion-collapse collapse show" id="collapseOne"
                    data-bs-parent="#accordionExample">
                    <ul>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" checked />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <span>5.0</span>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <span>3.0</span>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <span>2.0</span>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="rating">
                          <i class="fa fa-star filled"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <span>1.0</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="filter-set-content">
                  <div class="filter-set-content-head">
                    <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">Owner<i class="las la-angle-right"></i></a>
                  </div>
                  <div class="filter-set-contents accordion-collapse collapse" id="collapseTwo"
                    data-bs-parent="#accordionExample">
                    <ul>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" checked />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Hendry</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Guillory</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Jami</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Theresa</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Espinosa</h5>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="filter-set-content">
                  <div class="filter-set-content-head">
                    <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">Tags<i class="las la-angle-right"></i></a>
                  </div>
                  <div class="filter-set-contents accordion-collapse collapse" id="collapseThree"
                    data-bs-parent="#accordionExample">
                    <ul>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" checked />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Promotion</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Rated</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Rejected</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Collab</h5>
                        </div>
                      </li>
                      <li>
                        <div class="filter-checks">
                          <label class="checkboxs">
                            <input type="checkbox" />
                            <span class="checkmarks"></span>
                          </label>
                        </div>
                        <div class="collapse-inside-text">
                          <h5>Calls</h5>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="filter-reset-btns">
                <a href="javascript:void(0);" class="btn btn-light">Reset</a>
                <a href="javascript:void(0);" class="btn btn-primary">Filter</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="search-set">
          <div class="search-input">
            <a href="javascript:void(0);" class="btn btn-searchset"><i class="las la-search"></i></a>
            <div class="dataTables_filter">
              <label>
                <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="searchData(searchDataValue)" type="search"
                  class="form-control" placeholder="Search..." />
              </label>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table_header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length">
              <label>
                Show
                <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" class="form-control form-control-sm">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table matSort (matSortChange)="sortData($event)"
          class="table table-striped custom-table datatable contact-table">
          <thead>
            <tr>
              <th class="no-sort"></th>
              <th mat-sort-header="name">Lead Name</th>
              <th mat-sort-header="company">Company Name</th>
              <th mat-sort-header="phone">Phone</th>
              <th mat-sort-header="email">Email</th>
              <th mat-sort-header="lead">Lead Status</th>
              <th mat-sort-header="created">Created Date</th>
              <th mat-sort-header="leadsOwner">Lead Owner</th>
              <th class="no-sort text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (data of leads; track data) {
            <tr>
              @if (data.isRating === true) {
              <td>
                <div class="set-star star-select">
                  <i class="fa fa-star filled"></i>
                </div>
              </td>
              }
              @if (data.isRating === false) {
              <td>
                <div class="set-star star-select">
                  <i class="fa fa-star"></i>
                </div>
              </td>
              }
              <td>
                <h2>
                  <a [routerLink]="routes.leadsDetails" class="profile-split">{{ data.leadName }}</a>
                </h2>
              </td>
              <td>
                <h2 class="table-avatar d-flex align-items-center">
                  <a [routerLink]="routes.leadsDetails" class="company-img"><img [src]="data.img"
                      alt="User Image" /></a>
                  <a [routerLink]="routes.leadsDetails" class="profile-split">{{
                    data.companyName
                    }}</a>
                </h2>
              </td>
              <td>{{ data.phone }}</td>
              <td>{{ data.email }}</td>
              <td>
                <span class="badge" [ngClass]="{
                    'badge-soft-info': data.leadStatus === 'Not Contacted',
                    'badge-soft-success': data.leadStatus === 'Closed',
                    'badge-soft-danger': data.leadStatus === 'Lost',
                    'badge-soft-warning': data.leadStatus === 'Contacted'
                  }">{{ data.leadStatus }}</span>
              </td>
              <td>{{ data.createdDate }}</td>
              <td>{{ data.leadOwner }}</td>
              <td class="text-end">
                <div class="dropdown dropdown-action">
                  <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                      data-bs-target="#edit_leads"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal"
                      data-bs-target="#delete_leads"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                    <a class="dropdown-item" [routerLink]="routes.leadsDetails"><i class="fa-regular fa-eye"></i>
                      Preview</a>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="table_footer">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info">
            Showing {{ serialNumberArray[0] }} to
            {{ serialNumberArray[serialNumberArray.length - 1] }} of
            {{ totalData }} entries
          </div>
        </div>

        <div class="col-sm-12 col-md-7">
          <div class="pagination_section">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{
                  disabled: currentPage === 1
                }">
                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                  tabindex="-1"><i class="fa fa-angle-double-left"></i></a>
              </li>

              @for (item of pageNumberArray; track item; let i = $index) {
              <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                    (pageNumberArray[currentPage - 2] > item &&
                      item !== 1 &&
                      pageNumberArray.length > 6) ||
                    (pageNumberArray[currentPage] < item &&
                      item !== 1 &&
                      pageNumberArray.length > 6 &&
                      pageNumberArray.length !== item)
                      ? 'hide-page-no'
                      : 'show-page-no'
                  ">
                <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                  {{ item }}
                </a>
              </li>
              @if (
              i === 0 && pageNumberArray.length > 6 && currentPage > 2
              ) {
              <li class="page-item" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0">
                <a class="page-link" href="javascript:void(0);"> ... </a>
              </li>
              }
              @if (
              i === pageNumberArray.length - 2 &&
              pageNumberArray.length > 6
              ) {
              <li [hidden]="
                    currentPage >=
                      pageNumberArray[pageNumberArray.length - 2] ||
                    totalData < serialNumberArray[serialNumberArray.length - 1]
                  " class="page-item" (click)="moveToPage(currentPage + 2)"
                (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0">
                <a class="page-link" href="javascript:void(0);"> ... </a>
              </li>
              }
              }

              <li class="page-item" [ngClass]="{
                  disabled:
                    currentPage ===
                      pageNumberArray[pageNumberArray.length - 1] ||
                      leads.length === 0
                }">
                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);"><i class=" fa fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Leads -->
<div class="modal custom-modal fade custom-modal-two modal-padding" id="add_leads" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header header-border justify-content-between p-0">
        <h5 class="modal-title">Add New Lead</h5>
        <button type="button" class="btn-close position-static" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <form>
          <div class="contact-input-set">
            <div class="row">
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <label class="col-form-label">Lead Name <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <h5 class="mb-3">Lead Type</h5>
                  <div class="status-radio-btns d-flex">
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test1" name="radio-group" checked />
                      <label for="test1">Person</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test2" name="radio-group" />
                      <label for="test2">Organization</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 company-add-col">
                <div class="input-block mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <label class="col-form-label">Company <span class="text-danger">*</span></label>
                    <a href="javascript:void(0);" class="add-new add-new-company" (click)="addPipeline(-1)"><i
                        class="la la-plus-circle me-2"></i>Add New</a>
                  </div>

                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">NovaWaveLLC</mat-option>
                    <mat-option value="all">SilverHawk</mat-option>
                    <mat-option value="all">SummitPeak</mat-option>
                  </mat-select>
                </div>
                @for (pipeline of pipelines.slice(1); track pipeline; let i = $index) {
                <div class="input-block mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <label class="col-form-label">Pipeline <span class="text-danger">*</span></label>
                  </div>
                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">NovaWaveLLC</mat-option>
                    <mat-option value="all">SilverHawk</mat-option>
                    <mat-option value="all">SummitPeak</mat-option>
                  </mat-select>
                </div>
                }
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Value<span class="text-danger"> *</span></label>
                  <input class="form-control" type="text" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Currency <span class="text-danger">*</span></label>

                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">$</mat-option>
                    <mat-option value="all">€</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-md-12 lead-phno-col del-phno-col">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Phone Number <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Select">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-phno" (click)="addCharges()"><i
                          class="la la-plus-circle"></i></a>
                    </div>
                  </div>
                </div>
                @for (charge of chargesArray; track charge; let i = $index) {
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Phone Number <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Select">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-phno" (click)="removeCharges(i)"><i
                          class="la la-trash"></i></a>
                    </div>
                  </div>
                </div>
                }
              </div>
              <div class="col-md-12 lead-email-col del-email-col">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Email <span class="text-danger">*</span></label>
                      <input class="form-control" type="email" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Work">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-email" (click)="addEmail()"><i
                          class="la la-plus-circle"></i></a>
                    </div>
                  </div>
                </div>
                @for (email of emailArray; track email; let i = $index) {
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Email <span class="text-danger">*</span></label>
                      <input class="form-control" type="email" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Work">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-email" (click)="removeEmail(i)"><i
                          class="la la-trash"></i></a>
                    </div>
                  </div>
                </div>
                }
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Source <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Industry <span class="text-danger">*</span></label>

                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">Select</mat-option>
                    <mat-option value="all">Highy</mat-option>
                    <mat-option value="all">Low</mat-option>
                    <mat-option value="all">Medium</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block tag-with-img mb-3">
                  <label class="col-form-label">Owner <span class="text-danger">*</span></label>
                  <mat-form-field class="example-chip-list">
                    <mat-chip-grid #chipGrid5>
                      @for (fruit of data5; track trackByFn(i, fruit); let i = $index) {
                      <mat-chip-row (removed)="remove(data5, i)" [editable]="true" (edited)="edit(data5, i, $event)"
                        [aria-description]="'press enter to edit ' + fruit.name">
                        <img src="assets/img/icons/tag-user-icon.svg" alt="{{ fruit.name }}" class="chip-image" />
                        {{ fruit.name }}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                      <input [matChipInputFor]="chipGrid5" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, data5)" />
                    </mat-chip-grid>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Tags <span class="text-danger">*</span></label>
                  <mat-form-field class="example-chip-list">
                    <mat-chip-grid #chipGrid1>
                      @for (fruit of data1; track trackByFn(i, fruit); let i = $index) {
                      <mat-chip-row (removed)="remove(data1, i)" [editable]="true" (edited)="edit(data1, i, $event)"
                        [aria-description]="'press enter to edit ' + fruit.name">
                        {{ fruit.name }}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                      <input [matChipInputFor]="chipGrid1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, data1)" />
                    </mat-chip-grid>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="input-block mb-3">
                  <label class="col-form-label">Description <span class="text-danger">*</span></label>
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <h5 class="mb-3">Visibility</h5>
                  <div class="status-radio-btns d-flex">
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test3" name="radio-group2" checked />
                      <label for="test3">Pubilc</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test4" name="radio-group2" />
                      <label for="test4">Private</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test5" name="radio-group2" />
                      <label for="test5">Select People</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <h5 class="mb-3">Status</h5>
                  <div class="status-radio-btns d-flex">
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test6" name="radio-group3" checked />
                      <label for="test6">Active</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test7" name="radio-group3" />
                      <label for="test7">Inactive</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-end form-wizard-button">
                <button class="button btn-lights reset-btn" type="reset" data-bs-dismiss="modal">
                  Reset
                </button>
                <button class="btn btn-primary" type="submit">Save Lead</button>
              </div>
            </div>
          </div>
        </form>
      </div>Phone Number
    </div>
  </div>
</div>
<!-- /Add Leads -->

<!-- Edit Leads -->
<div class="modal custom-modal fade custom-modal-two modal-padding" id="edit_leads" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header header-border justify-content-between p-0">
        <h5 class="modal-title">Edit Lead</h5>
        <button type="button" class="btn-close position-static" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <form>
          <div class="contact-input-set">
            <div class="row">
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <label class="col-form-label">Lead Name <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <h5 class="mb-3">Lead Type</h5>
                  <div class="status-radio-btns d-flex">
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test1" name="radio-group" checked />
                      <label for="test1">Person</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test2" name="radio-group" />
                      <label for="test2">Organization</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 company-add-col">
                <div class="input-block mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <label class="col-form-label">Company <span class="text-danger">*</span></label>
                    <a href="javascript:void(0);" class="add-new add-new-company" (click)="addCompany(-1)"><i
                        class="la la-plus-circle me-2"></i>Add New</a>
                  </div>

                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">NovaWaveLLC</mat-option>
                    <mat-option value="all">SilverHawk</mat-option>
                    <mat-option value="all">SummitPeak</mat-option>
                  </mat-select>
                </div>
                @for (company of company.slice(1); track company; let i = $index) {
                <div class="input-block mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <label class="col-form-label">Pipeline <span class="text-danger">*</span></label>
                  </div>
                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">NovaWaveLLC</mat-option>
                    <mat-option value="all">SilverHawk</mat-option>
                    <mat-option value="all">SummitPeak</mat-option>
                  </mat-select>
                </div>
                }
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Value<span class="text-danger"> *</span></label>
                  <input class="form-control" type="text" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Currency <span class="text-danger">*</span></label>

                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">$</mat-option>
                    <mat-option value="all">€</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-md-12 lead-phno-col del-phno-col">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Phone Number <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Select">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-phno" (click)="editaddCharges()"><i
                          class="la la-plus-circle"></i></a>
                    </div>
                  </div>
                </div>
                @for (editcharge of editchargesArray; track editcharge; let i = $index) {
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Phone Number <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Select">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-phno"
                        (click)="removeeditCharges(i)"><i class="la la-trash"></i></a>
                    </div>
                  </div>
                </div>
                }
              </div>
              <div class="col-md-12 lead-email-col del-email-col">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Email <span class="text-danger">*</span></label>
                      <input class="form-control" type="email" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Work">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-email" (click)="editEmail()"><i
                          class="la la-plus-circle"></i></a>
                    </div>
                  </div>
                </div>
                @for (editemail of editemailArray; track editemail; let i = $index) {
                <div class="row">
                  <div class="col-lg-8">
                    <div class="input-block mb-3">
                      <label class="col-form-label">Email <span class="text-danger">*</span></label>
                      <input class="form-control" type="email" />
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-end">
                    <div class="input-block mb-3 d-flex align-items-center">
                      <div class="w-100">
                        <mat-select class="custom-mat-select select" placeholder="Work">
                          <mat-option value="all">Work</mat-option>
                          <mat-option value="all">Home</mat-option>
                        </mat-select>
                      </div>
                      <a href="javascript:void(0);" class="add-modal-row add-lead-email" (click)="deleteEmail(i)"><i
                          class="la la-trash"></i></a>
                    </div>
                  </div>
                </div>
                }
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Source <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Industry <span class="text-danger">*</span></label>

                  <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="all">Select</mat-option>
                    <mat-option value="all">Highy</mat-option>
                    <mat-option value="all">Low</mat-option>
                    <mat-option value="all">Medium</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block tag-with-img mb-3">
                  <label class="col-form-label">Owner <span class="text-danger">*</span></label>
                  <mat-form-field class="example-chip-list">
                    <mat-chip-grid #chipGrid8>
                      @for (fruit of data5; track trackByFn(i, fruit); let i = $index) {
                      <mat-chip-row (removed)="remove(data5, i)" [editable]="true" (edited)="edit(data5, i, $event)"
                        [aria-description]="'press enter to edit ' + fruit.name">
                        <img src="assets/img/icons/tag-user-icon.svg" alt="{{ fruit.name }}" class="chip-image" />
                        {{ fruit.name }}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                      <input [matChipInputFor]="chipGrid8" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, data5)" />
                    </mat-chip-grid>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-block mb-3">
                  <label class="col-form-label">Tags <span class="text-danger">*</span></label>
                  <mat-form-field class="example-chip-list">
                    <mat-chip-grid #chipGrid9>
                      @for (fruit of data1; track trackByFn(i, fruit); let i = $index) {
                      <mat-chip-row (removed)="remove(data1, i)" [editable]="true" (edited)="edit(data1, i, $event)"
                        [aria-description]="'press enter to edit ' + fruit.name">
                        {{ fruit.name }}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      }
                      <input [matChipInputFor]="chipGrid9" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, data1)" />
                    </mat-chip-grid>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="input-block mb-3">
                  <label class="col-form-label">Description <span class="text-danger">*</span></label>
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <h5 class="mb-3">Visibility</h5>
                  <div class="status-radio-btns d-flex">
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test3" name="radio-group2" checked />
                      <label for="test3">Pubilc</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test4" name="radio-group2" />
                      <label for="test4">Private</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test5" name="radio-group2" />
                      <label for="test5">Select People</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-block mb-3">
                  <h5 class="mb-3">Status</h5>
                  <div class="status-radio-btns d-flex">
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test6" name="radio-group3" checked />
                      <label for="test6">Active</label>
                    </div>
                    <div class="people-status-radio">
                      <input type="radio" class="status-radio" id="test7" name="radio-group3" />
                      <label for="test7">Inactive</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-end form-wizard-button">
                <button class="button btn-lights reset-btn" type="reset" data-bs-dismiss="modal">
                  Reset
                </button>
                <button class="btn btn-primary" type="submit">Save Lead</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Leads -->

<!-- Delete Leads -->
<div class="modal custom-modal fade" id="delete_leads" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="success-message text-center">
          <div class="success-popup-icon bg-danger">
            <i class="la la-trash-restore"></i>
          </div>
          <h3>Are you sure, You want to delete</h3>
          <p>Lead ”Collins” from your Account</p>
          <div class="col-lg-12 text-center form-wizard-button">
            <a href="javascript:void(0);" class="button btn-lights" data-bs-dismiss="modal">Not Now</a>
            <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Okay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Leads -->

<!-- Export -->
<div class="modal custom-modal fade modal-padding" id="export" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header header-border justify-content-between p-0">
        <h5 class="modal-title">Export</h5>
        <button type="button" class="btn-close position-static" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="input-block mb-3">
                <h5 class="mb-3">Export</h5>
                <div class="status-radio-btns d-flex">
                  <div class="people-status-radio">
                    <input type="radio" class="status-radio" id="pdf" name="export-type" checked />
                    <label for="pdf">Person</label>
                  </div>
                  <div class="people-status-radio">
                    <input type="radio" class="status-radio" id="excel" name="export-type" />
                    <label for="excel">Organization</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <h4 class="mb-3">Filters</h4>
              <div class="input-block mb-3">
                <label class="col-form-label">Fields <span class="text-danger">*</span></label>

                <mat-select class="custom-mat-select select" placeholder="All Fields">
                  <mat-option value="all">All Fields</mat-option>
                  <mat-option value="all">Contact</mat-option>
                  <mat-option value="all">Company</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label">From Date <span class="text-danger">*</span></label>
                <div class="cal-icon">
                  <input class="form-control floating datetimepicker" type="text" bsDatepicker />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-block mb-3">
                <label class="col-form-label">To Date <span class="text-danger">*</span></label>
                <div class="cal-icon">
                  <input class="form-control floating datetimepicker" type="text" bsDatepicker />
                </div>
              </div>
            </div>
            <div class="col-lg-12 text-end form-wizard-button">
              <button class="button btn-lights reset-btn" type="reset" data-bs-dismiss="modal">
                Reset
              </button>
              <button class="btn btn-primary" type="submit">Export Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Export -->